@import url("./variables.css");

* {
  font-family: "Poppins", serif;
  box-sizing: border-box !important;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0;
  word-spacing: 1px;
  -webkit-tap-highlight-color: transparent;
}
@media only screen and (max-width: 340px) {
  * {
    font-size: 16px;
  }
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  text-decoration: underline;
}
::-webkit-scrollbar-track {
  border-radius: 1rem;
  background-color: var(--color-bw);
}
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--color-primary);
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 1rem;
  background-color: var(--color-primary-hover);
}
::-webkit-scrollbar-thumb:active {
  border-radius: 1rem;
  background-color: var(--color-primary-active);
}
html,
body {
  margin: 0;
  background-color: var(--color-bw) !important;
  color: var(--color-bw-text) !important;
  scroll-behavior: smooth !important;
  font-weight: var(--font-weight) !important;
}
